<?xml version="1.0"?>
<config>
    <modules>
        <LCB_TypeSense>
            <version>1.0.0</version>
        </LCB_TypeSense>
    </modules>
    <global>
        <blocks>
            <lcb_typesense>
                <class>LCB_TypeSense_Block</class>
            </lcb_typesense>
        </blocks>
        <models>
            <lcb_typesense>
                <class>LCB_TypeSense_Model</class>
                <resourceModel>lcb_typesense_resource</resourceModel>
            </lcb_typesense>
            <lcb_typesense_resource>
                <class>LCB_TypeSense_Model_Resource</class>
            </lcb_typesense_resource>
        </models>
        <helpers>
            <lcb_typesense>
                <class>LCB_TypeSense_Helper</class>
            </lcb_typesense>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <lcb_typesense_catalog_product_save_after>
                        <class>lcb_typesense/observer</class>
                        <method>saveProductAfter</method>
                    </lcb_typesense_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <lcb_typesense_admin_system_config_section_save_after>
                        <class>lcb_typesense/observer</class>
                        <method>saveConfigAfter</method>
                    </lcb_typesense_admin_system_config_section_save_after>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <lcb_typesense>
                <use>standard</use>
                <args>
                    <module>LCB_TypeSense</module>
                    <frontName>typesense</frontName>
                </args>
            </lcb_typesense>
        </routers>
        <layout>
            <updates>
                <lcb_typesense>
                    <file>lcb_typesense.xml</file>
                </lcb_typesense>
            </updates>
        </layout>
    </frontend>
</config>